<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Courses Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/pro.css}">
</head>
<body>
<div th:replace="fragments/navbar :: navbarFragment"></div>

<div class="content">
    <h2>Your courses</h2>
    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Teacher</th>
                <th>Enrolled</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>101</td>
                <td><a class="view-link" href="#">Introduction to Java</a></td>
                <td>Basic Java programming concepts</td>
                <td>John Smith</td>
                <td>25</td>
                <td><a class="edit-link" href="#">Edit</a></td>
            </tr>

            <tr th:each="course : ${courses}">
                <td th:text="${course.id}"></td>
                <td>
                    <a class="view-link" th:href="@{/courses/{id}/students(id=${course.id})}"
                       th:text="${course.name}"></a>
                </td>
                <td th:text="${course.description}"></td>
                <td th:text="${course.teacher.firstName + ' ' + course.teacher.lastName}"></td>
                <!--                <td th:text="${course.enrolledStudents.size()}"></td>-->
                <td>
                    <a class="edit-link" th:href="@{/courses/{id}/edit(id=${course.id})}">Edit</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
